*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color:white;
}
body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    min-height: 100vh;
    position: relative;
    background-color: rgb(30, 31, 34);
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    flex-direction: column;
}

header{
    display:flex;
    position: relative;
    margin:50px auto;
}

.item_categories{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
}
.buttons_container{

    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.5);
    padding: 10px 30px ;
    margin-top: 10px;
    border-radius: 40px;
    background-color: darkred;
    overflow: hidden;
}
.item_categories_button{

    background-color: transparent;
    border: 2px transparent solid;
    border-radius: 20px;
    font-size: 20px;
    color: white;
    font-weight: bold;
    transition:box-shadow,scale 0.8s,width 0.4s, 0.4s;
    padding: 5px 10px;
}
.item_categories_button:hover{
    scale:0.9;
    box-shadow: 1px 5px 5px rgba(255, 255, 255, 0.5);
}
.items_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 75vw;
    height: 65vh;
    margin: 50px auto;
    box-shadow: 1px 1px 20px rgba(255, 255, 255, 0.5);
    background-color: #2b2d30;
    border-radius: 50px;
    overflow-y: scroll;
    scrollbar-width: none;
    gap:5%;
    padding: 80px 40px;
}
.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 25vh;
    padding: 20px;
    border: 1px solid black;
    border-radius: 30px;
    background-color: darkred;
}
.item h2 {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}
.cartBtn {
    background: none;
    border: none;
    margin: auto 0 0 auto;

    width: 35px;
    height: 30px;
}
.cartBtn img {
    width: 100%;
    height: auto;
}

